<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>URL Shortener</title>
</head>
<body>
    <h1>Title</h1>
    <form>
        <input placeholder="example.com" id="url">
        <button id="submit">Submit</button>
    </form>
    <div id="link1"></div>
    <div id="link2"></div>
    <div id="link3"></div>
</body>
<script type="text/javascript" src="./script/script.js"></script>
</html>